/* AdminDashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body{
  background: #f5f6fb;
}

.admin-container{
  width: 100%;
  min-height: 100vh;

  padding: 35px;
}

/* HEADER */

.admin-header{
  margin-bottom: 35px;
}

.admin-header h1{
  font-size: 42px;
  font-weight: 700;

  color: #1b1b1b;

  margin-bottom: 8px;
}

.admin-header p{
  font-size: 18px;

  color: #6c6c6c;
}

/* CARD */

.admin-card-container{
  display: flex;
  gap: 25px;

  margin-bottom: 35px;
}

.admin-card{
  flex: 1;

  background: white;

  border-radius: 22px;

  padding: 28px;

  display: flex;
  align-items: center;
  gap: 20px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.card-icon{
  width: 80px;
  height: 80px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-size: 35px;
}

.purple-card{
  background: linear-gradient(
    135deg,
    #7b2cff,
    #a855f7
  );
}

.green-card{
  background: linear-gradient(
    135deg,
    #00b86b,
    #38ef7d
  );
}

.orange-card{
  background: linear-gradient(
    135deg,
    #ff8c00,
    #ffb347
  );
}

.admin-card h3{
  font-size: 18px;
  font-weight: 600;

  color: #555;

  margin-bottom: 8px;
}

.admin-card h2{
  font-size: 38px;
  font-weight: 700;

  color: #111;

  margin-bottom: 5px;
}

.admin-card span{
  color: #00a651;

  font-size: 15px;
}

/* TABLE */

.table-section{
  background: white;

  padding: 30px;

  border-radius: 22px;

  margin-bottom: 35px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.table-section h2{
  margin-bottom: 25px;

  font-size: 28px;

  color: #7b2cff;
}

table{
  width: 100%;

  border-collapse: collapse;
}

th{
  text-align: left;

  padding: 18px;

  background: #f4f4f4;

  font-size: 16px;
}

td{
  padding: 18px;

  border-bottom: 1px solid #e7e7e7;
}

.status{
  padding: 8px 15px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 600;
}

.aktif{
  background: #d9ffe8;

  color: #00a651;
}

.nonaktif{
  background: #ffe0e0;

  color: #ff3b3b;
}

/* AKTIVITAS */

.aktivitas-section{
  background: white;

  padding: 30px;

  border-radius: 22px;

  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.aktivitas-section h2{
  margin-bottom: 20px;

  font-size: 28px;

  color: #7b2cff;
}

.aktivitas-card{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;

  border-bottom: 1px solid #ececec;
}

.aktivitas-card p{
  font-size: 17px;
  font-weight: 500;

  color: #222;
}

.aktivitas-card span{
  color: #888;

  font-size: 14px;
}