@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body{
  background: #f7f7f7;
}

/* CONTAINER */

.login-container{
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

/* CARD */

.login-card{
  width: 850px;

  background: white;

  border-radius: 30px;

  overflow: hidden;

  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}

/* HEADER */

.login-header{
  width: 100%;

  background: linear-gradient(
    90deg,
    #8d45e6,
    #c06cff
  );

  padding: 18px;

  text-align: center;
}

.login-header h1{
  color: #222;

  font-size: 40px;
  font-weight: 700;

  letter-spacing: 1px;
}

/* BODY */

.login-body{
  padding: 30px 50px 40px;
}

/* INPUT */

.input-group{
  margin-bottom: 25px;
}

.input-group label{
  display: block;

  font-size: 18px;
  font-weight: 500;

  color: #444;

  margin-bottom: 12px;
}

.input-group input{
  width: 100%;

  border: none;
  border-bottom: 2px solid #666;

  padding: 10px 5px;

  font-size: 18px;

  outline: none;

  background: transparent;

  transition: 0.3s ease;
}

.input-group input:focus{
  border-color: #b35cff;
}

/* LUPA PASSWORD */

.forgot-password{
  display: inline-block;

  text-decoration: none;

  color: #555;

  font-size: 15px;

  margin-bottom: 28px;

  transition: 0.3s ease;
}

.forgot-password:hover{
  color: #a855f7;
}

/* BUTTON */

.login-btn,
.google-btn{
  width: 55%;

  display: block;

  margin: 0 auto 14px;

  border: none;

  border-radius: 12px;

  padding: 14px;

  font-size: 18px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

/* LOGIN BUTTON */

.login-btn{
  background: rgba(255, 34, 153, 0.5);

  color: #4a2142;
}

.login-btn:hover{
  transform: translateY(-3px);

  background: rgba(255, 34, 153, 0.7);
}

/* GOOGLE BUTTON */

.google-btn{
  background: rgba(255, 34, 153, 0.5);

  color: #4a2142;
}

.google-btn:hover{
  transform: translateY(-3px);

  background: rgba(255, 34, 153, 0.7);
}

/* RESPONSIVE */

@media screen and (max-width: 768px){

  .login-card{
    width: 100%;
  }

  .login-body{
    padding: 30px 25px 40px;
  }

  .login-header h1{
    font-size: 34px;
  }

  .login-btn,
  .google-btn{
    width: 100%;
  }

}

@media screen and (max-width: 500px){

  .input-group label{
    font-size: 16px;
  }

  .input-group input{
    font-size: 16px;
  }

}

/* ERROR MESSAGE */

.error-message{
  color: red;

  font-size: 15px;

  margin-bottom: 18px;

  text-align: center;
}