@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

body{
  background: #cfd8e3;
}

/* CONTAINER */

.wadah-utama{
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */

.kartu-pemulihan{
  width: 500px;

  background: white;

  border-radius: 35px;

  padding: 40px 35px;

  position: relative;

  text-align: center;

  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* BACK BUTTON */

.tombol-kembali{
  position: absolute;

  top: 30px;
  left: 30px;

  background: none;
  border: none;

  cursor: pointer;
}

.panah-kiri{
  display: block;

  width: 14px;
  height: 14px;

  border-left: 4px solid black;
  border-bottom: 4px solid black;

  transform: rotate(45deg);
}

/* ICON */

.area-ikon{
  display: flex;
  justify-content: center;

  margin-bottom: 22px;
}

.lingkaran-abu{
  width: 120px;
  height: 120px;

  background: #98a5ae;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gembok-visual{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gagang-gembok{
  width: 34px;
  height: 28px;

  border: 5px solid #334155;
  border-bottom: none;

  border-radius: 30px 30px 0 0;

  margin-bottom: -2px;
}

.badan-gembok{
  width: 56px;
  height: 45px;

  background: #334155;

  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.titik-sandi{
  color: white;

  font-size: 18px;
  font-weight: bold;

  letter-spacing: 3px;
}

/* TITLE */

.judul-halaman{
  font-size: 24px;
  font-weight: 800;

  margin-bottom: 14px;
}

/* DESC */

.teks-instruksi{
  font-size: 15px;
  font-weight: 700;

  color: #000;

  line-height: 1.5;

  margin-bottom: 35px;

  padding: 0 10px;
}

/* INPUT */

.grup-input{
  background: #e5e7eb;

  border-radius: 18px;

  padding: 16px 18px;

  margin-bottom: 40px;
}

.pembungkus-input{
  display: flex;
  align-items: center;
}

.ikon-amplop{
  margin-right: 15px;

  color: #000;
}

.area-ketik{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
}

.area-ketik label{
  font-size: 14px;
  font-weight: 600;

  color: #4b5563;

  margin-bottom: 4px;
}

.area-ketik input{
  width: 100%;

  border: none;
  outline: none;

  background: transparent;

  font-size: 15px;

  color: #111827;
}

.area-ketik input::placeholder{
  color: #9ca3af;
}

/* BUTTON */

.tombol-kirim{
  width: 65%;

  padding: 15px;

  border: none;

  border-radius: 14px;

  background: #ff91cc;

  color: black;

  font-size: 20px;
  font-weight: 800;

  cursor: pointer;

  transition: 0.3s ease;
}

.tombol-kirim:hover{
  transform: scale(1.03);

  box-shadow: 0 5px 14px rgba(255,145,204,0.35);
}